doctype html
html
    head
        title #{title}
    body
        h1 Booking Form
        form(action="/confirmation", method="post")
            label Show Name: 
            input(type="text", name="showname" value=data.showName readonly="readonly")
            br
            label Price Per Ticket: 
            input(type="number", name="price" value=data.price readonly="readonly")
            br
            label Customer Name: 
            input(type="text", name="custname" required autofocus)
            br
            label Mobile Number: 
            input(type="number", name="mobile" required)
            br
            label Seats Available: 
            input(type="number", name="seatsAvail" value=data.seats readonly="readonly")
            br
            label No.of Seats to Book: 
            input(type="number", name="seatsBook" required max=data.seats min=1)
            br
            input(type="submit", value="Book")
            
            