doctype html
html
    head
        title #{title}
    body
        h1 Show is Booked, below are the details:
        label Show Name: #{showname}
        br
        label Customer Name: #{custname}
        br
        label Mobile Number: #{mobile}
        br
        label No. of Seats: #{seatsBook}
        br
        label Total Price:  #{totalPrice}
        br
        a(href="/") Go back to Home