doctype html
html
    head
        title #{title}
    body
        table(border="1" textalign="center")
            tr
                th Show Name
                th Location
                th Date
                th Price
                th Available Seats
                th Book
            each show in showInfo
                tr
                    td 
                        label(name="showname") #{show.showName}
                    td #{show.location}
                    td #{show.date}
                    td #{show.price}
                    td #{show.seats}
                    td
                        if show.seats>0
                            a(href="/book?id="+show._id) Book Now
                        if show.seats<=0
                            label Sold